body {
  height: 1080px;
  width: 1920px;
  color: white;
  background-color: #222222;
  font-family: "游ゴシック", YuGothic,sans-serif, Arial, Helvetica, Helvetica Neue;
}

#root {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}
